---
import Layout from "../layouts/Layout.astro";

import * as API from "../utils/api";

const { origin } = Astro.url;

const api = API.of(origin);

const data = await api.get(`stories/top`).then((result) => {
  return result.data;
});

const style = {
  display: "flex",
  flexDirection: "column",
  gap: "1rem",
};
---

<Layout title="Home">
  <div style={style}>
    {
      data.map((datum: any) => {
        return (
          <div
            style={{
              padding: "1rem",
              whiteSpace: "pre",
              textWrap: "wrap",
            }}
          >
            {JSON.stringify(datum, null, 2)}
          </div>
        );
      })
    }
  </div>
</Layout>
